/* КЛАСС ДЛЯ АДАПТИВНОСТИ */
.fl-dir-column {
	display: flex;
}
@media (max-width: 1024px) {
	.fl-dir-column {
		flex-direction: column;
	}
}



@media (max-width: 1024px) {
	.header__bg__content__top {
		flex-direction: column;
		text-align: center;
	}
	.header__bg__content__top__small-logo {
		width: 100%;
		text-align: center;
	}
	.header__bg__content__top__phone {
		padding: 0;
	}

	.header__bg__content__logo__blocks{
		width: 100%;
		text-align: center;
	}
}
/* Уменьшаю размер и поправляю надпись логотипа в header */
@media (max-width: 484px) {
	.header__bg__content__logo__blocks__block-center {
		font-size: 30px;
	}
}
@media (max-width: 453px) {
	.header__bg__content__logo__blocks__block-center {
		font-size: 25px;
	}
}

@media (min-width: 680px) and (max-width: 720px) {
	.header__bg__content__logo__blocks {
		width: 55%;
	}
}

@media (min-width: 1420px) {
	.header__bg__content__logo__blocks {
		width: 40%;
	}
}
@media (min-width: 1730px) {
	.header__bg__content__logo__blocks {
		width: 33%;
	}
}
@media (min-width: 1920px) {
	.header__bg__content__logo__blocks {
		width: 27%;
	}
}

/* Делаю фон header всегда на 100% */
@media (min-width: 1310px) {
	.header__bg {
		background-size: cover;
	}
}

/* Подправляю contacts в header__bg */
@media (min-width: 1720px) {
	.header__bg {
		height: 900px;
	}
	.header__bg__content__contacts {
		padding-left: 100px;
	}
}

/* Ставлю блоки "best" колонной */
@media (max-width: 948px) {
	.header__bg__content__best__blocks {
		width: 100%;
		margin: 0 auto;
		flex-direction: column;
		text-align: center;
		align-items: center;
	}
	.header__bg__content__best__blocks {
		width: 100%;
		margin: 0 auto;
		text-align: center;
	}
}


/* Подправляю в sale надпись "акция 4:51" */
@media (max-width: 364px) {
	.header__bg__content__sale__block {
		background-position: -55px -30px;
	}
}
@media (min-width: 744px) and (max-width: 976px){
	.header__bg__content__sale__block {
		background-size: 1000px;
	}
}
@media (max-width: 1260px) {
	.header__bg__content__sale__block {
		background-position: -55px -15px;
	}
}
@media (max-width: 1220px) {
	.header__bg__content__sale__block {
		background-position: -90px -15px;
	}
}

@media (min-width: 1500px) {
	.header__bg__content__sale__block {
		background-position: -35px -15px;
	}
}
@media (min-width: 1660px) {
	.header__bg__content__sale__block {
		background-position: -35px -20px;
	}
}
@media (min-width: 1780px) {
	.header__bg__content__sale__block {
		background-position: -35px -27px;
	}
}
@media (min-width: 1900px) {
	.header__bg__content__sale__block {
		background-position: -35px -35px;
	}
}
@media (min-width: 2010px) {
	.header__bg__content__sale__block {
		background-position: -35px -40px;
	}
}
@media (min-width: 2110px) {
	.header__bg__content__sale__block {
		background-position: -35px -46px;
	}
}
@media (min-width: 2220px) {
	.header__bg__content__sale__block {
		background-position: -35px -52px;
	}
}
@media (min-width: 2310px) {
	.header__bg__content__sale__block {
		background-position: -35px -58px;
	}
}

/* Адаптив для contacts в header */
@media (max-width: 955px) {
	.header__bg__content__contacts {
		flex-direction: column;
	}
	.header__bg__content__contacts input {
		margin-top: 20px;
		margin-left: 0;
	}
	.header__bg__content__contacts button {
		margin-top: 20px;
		margin-left: 0;
	}
}
@media (max-width: 845px) {
	.header__bg__content__contacts input {
		width: 30%;
	}
	.header__bg__content__contacts button {
		width: 33%;
	}
}
@media (max-width: 540px) {
	.header__bg__content__contacts input {
		width: 50%;
	}
	.header__bg__content__contacts button {
		width: 53%;
	}
}


/* Опускаю second блок */
@media (min-width: 1690px) {
	.second {
		margin-top: 80px;
	}
}

/* Опускаю second__title */
@media (max-width: 1024px) {
	.second__title {
		margin-top: 400px;
	}
}
@media (min-width: 620px) and (max-width: 948px) {
	.second__title {
		margin-top: 550px;
	}
}


/* Делаю three-blocks и two-blocks адаптивными */
@media (max-width: 1024px) {
	.second__three-blocks {
		flex-direction: column;
		margin-top: 100px;
	}
	.second__three-blocks__block {
		width: 100%;
		text-align: center;
	}
	.second__three-blocks__delimiter {
		display: none;
	}
	.second__two-blocks {
		flex-direction: column;
		padding: 0;
		margin-top: 50px;
		padding-top: 0;
	}
	.second__two-blocks__block {
		width: 100% !important;
		text-align: center;
	}
	.second__two-blocks__delimiter {
		display: none;
	}
}


/* Адаптив для third */

@media (max-width: 1024px) and (max-width: 1240px) {
	.third__blocks__block-right__blocks p {
		font-size: 5px;
	}
	.third__blocks__block-right__title {
		margin: 0;
		padding: 0;
		margin-top: 60px;
		text-align: center;
		font-size: 8px;
		width: 100%;
	}
}
@media (max-width: 795px) {
	.third__blocks__block-right__blocks {
		flex-direction: column;
	}
	.third__blocks__block-right__block-one {
		flex-direction: column;
		margin: 0;
		padding: 0;
		margin-top: 50px;
	}
	.third__blocks__block-right__block-two {
		flex-direction: column;
		margin: 0;
		padding: 0;
		margin-top: 50px;
	}
	.third__blocks__block-right__block-three {
		flex-direction: column;
		margin: 0;
		padding: 0;
		width: 100%;
		text-align: center;
		margin-top: 50px;
	}
	.third__blocks__block-right__block-three img {
		margin: 0 auto;
		padding: 0;
		width: 130px;
		margin-top: 50px;
	}
	.third__blocks__block-right__block-fourth {
		flex-direction: column;
		margin: 0;
		padding: 0;
		margin-top: 50px;
	}
	.third__blocks__block-right__block-fifth {
		flex-direction: column;
		margin: 0;
		padding: 0;
		width: 100%;
		margin-top: 50px;
	}
	.third__blocks__block-right__block-fifth img {
		margin: 0;
		padding: 0;	
		width: 45%;
		margin-top: 50px;
	}
}



@media (max-width: 1024px) {
	.third__blocks__block-right__blocks p{
		font-size: 18px;
	}
	.third__blocks__block-right__title {
		font-size: 18px;
	}
}


/* Смещаю third после 1420 */
@media (min-width: 1560px) {
	.third__blocks__block-right__blocks {
		margin-left: 100px;
	}
}
@media (min-width: 1640px) {
	.third__blocks__block-right__blocks {
		margin-left: 200px;
	}
}
@media (min-width: 1790px) {
	.third__blocks__block-right__blocks {
		margin-left: 300px;
	}
}

@media (min-width: 2130px) {
	.third__blocks__block-right__blocks {
		padding-left: 270px;
	}
}
@media (min-width: 2290px) {
	.third__blocks__block-right__blocks {
		padding-left: 330px;
	}
}

/* элементы fourth по середине перед 1024px */
@media (max-width: 1024px) {
	.fourth__blocks {
		text-align: center;
		width: 100%;
	}
	.fourth__blocks__block {
		text-align: center;
		width: 95%;
		border: none;
	}
	.fourth__blocks__block .child-2 {
		font-size: 12px;
		width: 70%;
		margin: 0 auto;
	}
	.fourth__blocks__block .child-3 {
		font-size: 10px;
		width: 70%;
		margin: 0 auto;
	}
}


/* Адаптив для сертификатов */
@media (max-width: 1024px) {
	.fifth__blocks-mobile {
		display: block;
	}
	.fifth__blocks {
		display: none;
	}
}

/* Адаптив для sixth */
@media (max-width: 1024px) {
	.sixth__blocks {
		flex-direction: column;
		text-align: center;
		padding: 0;
		width: 100%;
	}
	.sixth__blocks__block {
		width: 80%;
		margin: 0 auto;
	}
}

/* Адаптивность для seventh */
@media (max-width: 1024px) {
	.seventh__blocks {
		flex-direction: column;
	}
}

/* Адаптивность для eighth */
@media (max-width: 1024px) {
	.eighth__blocks__block {
		margin-top: 60px;
	}
}

/* Адаптивность для ninth order */
@media (max-width: 1024px) {
	.ninth__order {
		width: 100%;
		flex-direction: column;
		text-align: center;
	}
	.ninth__order input {
		width: 80%;
	}
	.ninth__order .upper {
		width: 80%;
	}
}

/*Адаптив для footer */

/* Адаптив для footer img */
@media (max-width: 1024px) {
	.footer__blocks__block__img img {
		max-width: 80%;	
	}
	.footer {
		-webkit-background-size: cover;
		background-size: cover;
	}
	.footer__blocks {
		flex-direction: column;
		text-align: center;
	}
	.footer__blocks__block {
		width: 100%;
		text-align: center;
		margin: 0 auto;
	}
	.footer__blocks__block__block-cont {
		text-align: center;
	}
	.footer__blocks__block__block-cont__block-2 {
		text-align: center;
	}
	.footer__blocks__block__img {
		align-self: flex-end;
	}
	.footer__blocks__block__conf {
		align-self: flex-end;
	}
}
@media (max-width: 1230px) {
	.footer__blocks__block__img img {
		max-width: 60%;	
	}
}

@media (min-width: 768px) and (max-width: 1024px) {
	.footer__blocks__block__img img {
		max-width: 30%;	
	}
}